.navigation {
    background-color: #1f2937;
    color: white;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.navigation .header-logo {
    font-size: 24px;
    font-weight: 800;
    margin-right: 750px;
}

.navigation .header-link {
    font-size: 18px;
    display: flex;
    color: #E5E7EB;
}